input::placeholder,
textarea::placeholder,
option::placeholder {
  font-size: 17px;
  font-family: "Spartan", sans-serif;
  font-weight: 600;
  color: #9b9393;
}

.form-group {
  margin-bottom: 0;
}

.formDiv {
  width: 98.5vw;
  height: 100%;
}

.formTitle {
  font-size: 60px;
  position: absolute;
  font-weight: 900;
  color: #0c2444;
  left: 25%;
  top: 7%;
}

.formLabel {
  position: absolute;
  color: #0c2444;
  font-size: 22px;
  font-weight: 600;
}

.formInput {
  background: #ffde59;
  width: 35%;
  height: 5%;
  position: absolute;
}

.companyNameLabel {
  left: 8%;
  top: 32%;
}

.companyNameInput {
  top: 38%;
  left: 8%;
}

.companyDomainLabel {
  left: 55%;
  top: 32%;
}

.companyDomainInput {
  top: 38%;
  left: 55%;
}

.companyPhoneLabel {
  left: 8%;
  top: 52%;
}

.companyPhoneInput {
  top: 58%;
  left: 8%;
}

.companyIndustryLabel {
  left: 55%;
  top: 52%;
}

.companyIndustryInput {
  top: 58%;
  left: 55%;
}

.companyMissionLabel {
  left: 8%;
  top: 72%;
}

.companyMissionInput {
  top: 78%;
  left: 8%;
  width: 82%;
}

.form-submitBtn {
  position: absolute;
  top: 93%;
  left: 8%;
  width: 10%;
  height: 6%;
  font-size: 18px;
  color: #0c2444;
}