.website-gif {
  position: absolute;
  width: 30%;
  top: 20%;
  left: 60%;
}

.homepage-title {
  position: absolute;
  font-size: 65px;
  text-align: center;
  left: 17%;
  top: 26%;
  font-weight: 900;
  color: #0c2444;
}

.homepage-subtext1 {
  position: absolute;
  left: 14.5%;
  top: 46%;
  font-size: 22px;
  font-weight: 500;
}

.getstartedBtn {
  width: 330px;
  height: 60px;
  background: #0c2444;
  border: 6px solid #ffde59;
  font-family: "Spartan", sans-serif;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: center;
  z-index: 0;
  top: 55%;
  left: 26%;
  animation-name: moveInLeft;
  animation-timing-function: ease-out;
  color: white;
  animation-duration: 2s;
}

.getstartedBtn::before,
.getstartedBtn::after {
  position: absolute;
  background: #0c2444;
  z-index: -1;
  transition: 1s;
  content: "";
}

.getstartedBtn::before {
  height: 60px;
  width: 120px;
}

.getstartedBtn::after {
  width: 250px;
  height: 60px;
}

.getstartedBtn:hover::before {
  width: 0px;
  background: #0c2444;
}

.getstartedBtn:hover::after  {
  height: 0px;
  background: #0c2444;
}

.slider {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

section {
	padding: 1rem;
	min-height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: normal;
	text-align: center;
	position: relative;
}

.processText {
  font-size: 70px;
  position: absolute;
  font-weight: 800;
  top: 12%;
  left: 37%;
  color: #0c2444;
}

.processLine{
  position: absolute;
  top: 22%;
  left: 42%;
  width: 15%;
  height: 5px;
  background: #0c2444;
  border: none;
}

.processDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 20%;
}

.processDiv h2{
  font-size: 170px;
  color: #0c2444;
  font-weight: 900;
  margin-left: -60%;
  color: dar
}

.processDiv h2 p{
  display: inline-flex;
  font-size: 19px;
  color: #0c2444;
  position: absolute;
  font-weight: 600;
  text-align: left;
  line-height: 30px;
}

.footerTitleText {
  font-size: 70px;
  position: absolute;
  font-weight: 800;
  top: 12%;
  left: 21%;
  color: #0c2444;
}

.section3 {
  height: 80%;
}

.footer {
  height: 5%;
  background: #0c2444!important;
  margin-top: 47%;
}

.footer p {
  color: white;
  font-size: 20px;
  text-align: center;
  margin-top: 35px;
}

.footer p a {
  text-decoration: none;
  color: white
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
}